$color-orange:#F07D00;
$color-lightgray:#F5F6F3;
$color-gray:#858A89;
$color-middlegray:#DBDBDB;
$color-darkgray:#61747B;
$color-bottlegreen:#17A1AB;
$color-lightblue:#E5F3F5;
$color-babypink:#FFEBEB;
$color-skyblue:#E8F3FF;
$color-activegreen:#00D700;