.rl-box {
    .rlb-right {
        .rlbr-subtitle {
            margin: 15px 0px 30px 0px;
            color: $color-gray;
            font-weight: 300;
            span {
                color: #000;
                font-weight: 400;
            }
        }
        .forgot-password {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(-50%, -50%);
            color: $color-orange;
            font-weight: bold;
        }
        .rl-form{
            .check-captcha{
                display: flex;
                align-items:center;
                justify-content: space-between;

                // .add-captcha{

                // }
            }
        }
    }
}

// responsive
@media (max-width: 1580px) {
}
@media (max-width: 1400px) {
}
@media (max-width: 1200px) {
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
    .rl-box {
        .rlb-right {
            .rlbr-subtitle {
                text-align: center;
                margin: 10px 0px 25px 0px;
            }
        }
    }
}
@media (max-width: 576px) {
}
